<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans     
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd">
   
  <!--  <context:component-scan base-package="com.example.demo.util" /> -->

<bean id="LoginAdvice" class="com.example.demo.util.loggeradviceconfig.LoginAdvice"/>

   <aop:config>
   		<aop:aspect ref="LoginAdvice">
   		    <aop:pointcut expression="execution(* com.example.demo.controller.*.*(..))" id="methodPointcut"/>
   	        <aop:before method="add()" pointcut-ref="methodPointcut"/>
  
   		</aop:aspect>
   </aop:config> 

   
</beans>